.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type {
  margin-top: 50px;
}

.races {
  padding: 0 50px;
  list-style: none;
}

.race {
  min-width: 300px;
  max-width: 550px;
  background: lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
}

.starter {
  background: #fff;
  margin-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px;
}

.starter_label {
  margin-left: 20px;
}
.starter_value {
  margin-right: 20px;
}

.expand_btn {
  margin-top: 10px;
  width: 100%;
  padding: 5px 0;
  background: none;
  border: none;
  border-radius: 0 0 5px 5px;
}

h1, select {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
